@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
    padding: 0px;
    
}

body{
    background-color: rgba(233, 67, 1, 0.253);
    margin: auto;
    width: auto;
    max-width: 900px;
    
}


hr{
    width: auto;
    height: 2px;
    
}

li{
    list-style: none;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 900px;
    max-height: 50px;
    text-anchor: auto;
    
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
    
    
  }
  
  .navbar a:hover {
    background: #ddd;
    color: lightcoral;
    
  }


.minhafoto{
    width:auto ;
    max-width: 450px;
    height: auto;
    max-height: 450px;
    border: solid rgba(121, 117, 117, 0.829) 1px;
    float: left;
    margin-top: 20px;
    
}

.imgcontainer{
    
    width: auto;
    max-width: 450px;
    float:left;
    margin-right: 15px;
    margin-top: 15px;

}

.divhistory{
    
    padding: 15px;
    margin-left: 15px;
    width: auto;
    height: 399px;
    margin-top: 15px;
   
    

}

.phistory{
    
    font-size: 21px;
        
}


.divdesafio{
    float: left;
    
}

.pdesafio{

    font-size: 21px;

}


.divhardskill{
    font-size: 21px;
    width: auto;
    max-width: 900px;
    
}


.skillhtml{
    background: linear-gradient(90deg, #f33d1d 15%, rgb(255, 255, 255) 0%);       
}

.skillcss{
    background: linear-gradient(90deg, #f33d1d 5%, rgb(255, 255, 255) 0%); 
}

.skilljs{
    background: linear-gradient(90deg, #f33d1d 2%, rgb(255, 255, 255) 0%); 
}





