@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
    padding: 0px;
    
}

body{
    background-color: rgba(233, 67, 1, 0.253);
    margin: auto;
    width: auto;
    max-width: 900px;
    
}

.displaylink{
    display: inline;
    background-color: yellow;
}

.minhafoto{
    width:auto ;
    max-width: 450px;
    height: auto;
    max-height: 450px;
    border-radius: 5%;
    border: solid rgba(121, 117, 117, 0.829) 1px;
    float: left;
    
}

.imgcontainer{
    width: auto;
    max-width: 450px;
    float:left;
    
    margin-right: 15px;

}

.divhistory{
    
    padding: 15px;
    margin-left: 15px;

}

.hrstyle{
    
    color: rgba(121, 117, 117, 0.829);
    
}

.divdesafio{
    float: left;
    
}
.divhardskill{
    background: grey;
    float: left;
    margin: auto;
}
.divsoftskill{
    float:right;
    background-color: yellow;
}



.paragraphhistory{
    font-size: 17px;
    margin: 15px;
    
}